body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/NGC7293_%282004%29.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

div {
    background-color: rgba(0, 0, 0, 0.5);
    border: #345673 solid 10px;
    padding: 20px;
    margin: 50px;
    width: 20%;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: aliceblue;
    text-align: center;
}

h3 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 24px;
}