input:nth-of-type(-n+5) {
    transform: rotate(-90deg);
    margin: 100px -70px;
}

input:last-of-type {
    display: block;
}

span {
    position: absolute;
    pointer-events: none;
    font-weight: bold;
    background: cadetblue;
    padding: 0 5px;
    border: 2px solid white;
    border-radius: 15px;
    display: none;
    z-index: 1;
}

.chart {
    display: flex;
    align-items: end;
}

.chart * {
    background: blue;
    margin: 5px;
}
