div {
    background-color: lightgrey;
    padding: 20px;
    margin: 50px 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 10px solid black;
}

body {
    background-color: #eeffdd;
}
