.tables {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
}

table {
    border: 2px solid;
    height: 500px;
    width: 150px;
}

tr * {
    border: 2px solid;
    text-align: center;
}

/* 
.expr {
    background-color: #f0f0f0;
}

.res {
    background-color: #d0d0d0;
} */
